* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;
  --family-asap: "Asap", sans-serif;
  --family-maven-pro: "Maven Pro", sans-serif;
  --family-inconsolata: "Inconsolata", monospace;
  --title-lg: 700 56px/120% var(--family-asap);
  --title-md: 700 24px/120% var(--family-asap);
  --title-sm: 700 16px/120% var(--family-asap);
  --subtitle: 400 20px/120% var(--family-inconsolata);
  --text-md: 400 16px/140% var(--family-maven-pro);
  --text-sm: 400 14px/140% var(--family-maven-pro);
}

body {
  font: var(--text-md);
  color: var(--gray-600);
  background-color: var(--gray-200);
}

h1, h2, h3, p {
  font: inherit;
}

img {
  max-width: 100%;
}