header.top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

@media (width >= 80em) {
  header.top {
    padding: 4.875rem 7.75rem;
    justify-content: flex-start;
  }
}