main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    'header'
    'form'
    'doubts';
  padding: 0 2.25rem 2.75rem;
  
  & small {
    font: var(--overline);
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--content-secondary), var(--background-gray));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & h1 {
    margin-top: .5rem;
    font: var(--display-medium);
    text-transform: uppercase;
    color: var(--content-primary);
  }

  & h2 {
    margin-top: 2.625rem;
  }

  & p {
    font: var(--paragraph-medium);
  }

  & > header {
    grid-area: header;
  }
}

@media (width >= 80em) {
  main {
    display: grid;
    column-gap: 4rem;
    padding: 0 8.375rem;  
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'header form'
      'doubts form';

    & h1 {
      margin-top: .75rem;
      font: var(--display-large);
    }
  }
}